<a href="https://colab.research.google.com/github/G-Shino/colab_tutorial/blob/master/%E8%87%AA%E7%84%B6%E8%A8%80%E8%AA%9E%E5%87%A6%E7%90%86100.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#第1章　準備運動

## 00.文字列の逆順
- 文字列"stressed"の文字を逆に（末尾から先頭に向かって）並べた文字列を得よ．

In [0]:
string = "stressed"
string_reversed = string[::-1]
print(string_reversed)

desserts

In [0]:
print("".join(list(reversed(list(string))))) 
#revesedはiteratorを返す .reverse()は破壊的操作をするだけ

desserts

## 01.「パタトクカシーー」
- 「パタトクカシーー」という文字列の1,3,5,7文字目を取り出して連結した文字列を得よ

In [0]:
string = "パタトクカシーー"
ans = string[0] + string[2] + string[4] + string[6]
print(ans)

パトカー

In [0]:
ans = string[::2]
print(ans)

パトカー

## 02.「パトカー」＋「タクシー」＝「パタトクカシーー」
- 「パトカー」＋「タクシー」の文字を先頭から交互に連結して文字列「パタトクカシーー」を得よ．

In [0]:
pat = "パトカー"
tax = "タクシー"

patax = ""
for p, t in zip(pat, tax):
  patax += p + t
print(patax)

パタトクカシーー

In [0]:
patax = list(map(lambda x: x[0] + x[1], zip(pat, tax)))
#map reduce filterが存在するが、内包記法の方が最適な場合が多い
print("".join(patax))

パタトクカシーー

## 03.円周率
- "Now I need a drink, alcoholic of course, after the heavy lectures involving quantum mechanics."という文を単語に分解し，各単語の（アルファベットの）文字数を先頭から出現順に並べたリストを作成せよ．

In [0]:
import re
sentences = "Now I need a drink, alcoholic of course, after the heavy lectures involving quantum mechanics."
sentences = re.sub(r"[,.]", "", sentences) 
#↑replaceに近い strip = rstrip + lstrip　だし最初と最後しか消してくれない

list_words = sentences.split(" ")
print(sentences)
list_word_count = list()
for word in list_words:
  list_word_count.append(len(word))
print(list_word_count)

Now I need a drink alcoholic of course after the heavy lectures involving quantum mechanics
[3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5, 8, 9, 7, 9]

In [0]:
sentences = "Now I need a drink, alcoholic of course, after the heavy lectures involving quantum mechanics."
list_words = sentences.split(" ")
list_word_count = list()
for i, word in enumerate(list_words):
  count = 0 
  for char in word:
    if char.isalpha():
      count += 1
  list_word_count.append(count)
print(list_word_count)

[3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5, 8, 9, 7, 9]

- 練習で同じ頭文字のものをカウントする

In [0]:
import re

sentences = "Now I need a drink, alcoholic of course, after the heavy lectures involving quantum mechanics."
sentences = sentences.title()
sentences = re.sub(r"[,.]", "", sentences)
list_words = sentences.split(" ")

dic_words = dict()
for word in list_words:
  head = word[0]
  dic_words.setdefault(head, []).append(word)
print(dic_words)

{'N': ['Now', 'Need'], 'I': ['I', 'Involving'], 'A': ['A', 'Alcoholic', 'After'], 'D': ['Drink'], 'O': ['Of'], 'C': ['Course'], 'T': ['The'], 'H': ['Heavy'], 'L': ['Lectures'], 'Q': ['Quantum'], 'M': ['Mechanics']}

## 04.元素記号
- "Hi He Lied Because Boron Could Not Oxidize Fluorine. New Nations Might Also Sign Peace Security Clause. Arthur King Can."という文を単語に分解し，1, 5, 6, 7, 8, 9, 15, 16, 19番目の単語は先頭の1文字，それ以外の単語は先頭に2文字を取り出し，取り出した文字列から単語の位置（先頭から何番目の単語か）への連想配列（辞書型もしくはマップ型）を作成せよ

In [0]:
import re
sentence = "Hi He Lied Because Boron Could Not Oxidize Fluorine. New Nations Might Also Sign Peace Security Clause. Arthur King Can."
sentence = re.sub(r"[,.]", "", sentence)
list_words = sentence.split(" ")
list_first = [1, 5, 6, 7, 8, 9, 15, 16, 19]

dic_word = dict()
for i, word in enumerate(list_words):
  if i+1 in list_first:
    dic_word[str(i+1)] = word[0]
  else:
    dic_word[str(i+1)] = word[:2]
    
print(dic_word)

{'1': 'H', '2': 'He', '3': 'Li', '4': 'Be', '5': 'B', '6': 'C', '7': 'N', '8': 'O', '9': 'F', '10': 'Ne', '11': 'Na', '12': 'Mi', '13': 'Al', '14': 'Si', '15': 'P', '16': 'S', '17': 'Cl', '18': 'Ar', '19': 'K', '20': 'Ca'}

## 05.n-gram
- 与えられたシーケンス（文字列やリストなど）からn-gramを作る関数を作成せよ．この関数を用い，"I am an NLPer"という文から単語bi-gram，文字bi-gramを得よ．
- 任意の文字列や文書を連続したn個の文字で分割するテキスト分割方法． 特に，nが1の場合をユニグラム（uni-gram），2の場合をバイグラム（bi-gram），3の場合をトライグラム（tri-gram）と呼ぶ．

In [0]:
import numpy as np
def n_gram(sequence, n):
  result = list()
  repeats = len(sequence) - n + 1
  for i in range(repeats):
    gram = sequence[i:i+n]
    result.append(gram)
  return result

sentence = "I am an NLPer"
ngram = 2
print(n_gram(sentence, ngram))

print(n_gram(sentence, 3))

lis = np.arange(5)
print(n_gram(lis, 2))

['I ', ' a', 'am', 'm ', ' a', 'an', 'n ', ' N', 'NL', 'LP', 'Pe', 'er']
['I a', ' am', 'am ', 'm a', ' an', 'an ', 'n N', ' NL', 'NLP', 'LPe', 'Per']
[array([0, 1]), array([1, 2]), array([2, 3]), array([3, 4])]

- n数ごとにsplitするには？

In [0]:
n  = 6
array = list(np.linspace(1, 12, 12))
array2 = list(np.arange(1, 10, 5))
print(array)
print(array2)

repeats = int(len(array)/n)
result = list()
for i in range(repeats):
  hoge = array[: n]
  del array[: n]
  result.append(hoge)
print(result)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0]
[1, 6]
[[1.0, 2.0, 3.0, 4.0, 5.0, 6.0], [7.0, 8.0, 9.0, 10.0, 11.0, 12.0]]

## 06.集合
"paraparaparadise"と"paragraph"に含まれる文字bi-gramの集合を，それぞれ, XとYとして求め，XとYの和集合，積集合，差集合を求めよ．さらに，'se'というbi-gramがXおよびYに含まれるかどうかを調べよ．

In [0]:
def n_gram(sequence, n):
  repeat_times = len(sequence) - n + 1
  result = list()
  for i in range(repeat_times):
    gram = sequence[i:i+n]
    result.append(gram)
  return result

sen1 = "paraparaparadise"
sen2 = "paragraph"

X = set(n_gram(sen1, 2))
Y = set(n_gram(sen2, 2))
print(X)
print(Y)

{'ra', 'ad', 'is', 'pa', 'se', 'ar', 'ap', 'di'}
{'ra', 'ph', 'pa', 'ag', 'ar', 'ap', 'gr'}

In [0]:
print(X | Y) #和集合　全体
print(set.union(X, Y))

{'ra', 'ad', 'is', 'ph', 'pa', 'ag', 'se', 'ar', 'ap', 'di', 'gr'}
{'ra', 'ad', 'is', 'ph', 'pa', 'ag', 'se', 'ar', 'ap', 'di', 'gr'}

In [0]:
print(set.intersection(X, Y))
X & Y #積集合　共通部分

{'pa', 'ar', 'ra', 'ap'}

{'ap', 'ar', 'pa', 'ra'}

In [0]:
print(set.difference(X, Y))
X - Y #Xが残る差集合

{'is', 'se', 'ad', 'di'}

{'ad', 'di', 'is', 'se'}

In [0]:
print(set.difference(Y, X))
Y - X #Yが残る差集合

{'ph', 'gr', 'ag'}

{'ag', 'gr', 'ph'}

In [0]:
"se" in X

True

In [0]:
"se" in Y

False

## 07.テンプレートによる文生成
引数x, y, zを受け取り「x時のyはz」という文字列を返す関数を実装せよ．さらに，x=12, y="気温", z=22.4として，実行結果を確認せよ．

In [0]:
def sentence_maker(x, y, z):
  return str(x) + "時の" + str(y) + "は" + str(z)

x = 12
y = "気温"
z = 22.4
print(sentence_maker(x, y, z))

12時の気温は22.4

In [0]:
from string import Template

def hoge(x, y, z):
  return '{hour}時の{target}は{value}'.format(hour=x, target=y, value=z)

def format_string(x, y, z):
  #テンプレートを作成し、substituteで置換する
  s = Template('$hour時の$targetは$value')
  return s.substitute(hour=x, target=y, value=z)

print(hoge(x, y, z))
print(format_string(x, y, z))

12時の気温は22.4
12時の気温は22.4

## 08.暗号文
与えられた文字列の各文字を，以下の仕様で変換する関数cipherを実装せよ．

・英小文字ならば(219 - 文字コード)の文字に置換
・その他の文字はそのまま出力

この関数を用い，英語のメッセージを暗号化・復号化せよ．

In [0]:
def cipher(sentence):
  new_sentence = str()
  for i in sentence:
    if i.islower():
      new_sentence += chr(219 - ord(i))
    else:
      new_sentence += i
  return new_sentence

cipher("I Am An Engineer")

'I An Am Emtrmvvi'

In [0]:
cipher("I An Am Emtrmvvi")

'I Am An Engineer'

In [0]:
ord("a") #アスキー文字コード

97

In [0]:
chr(97)

'a'

## 09.Typoglycemia
スペースで区切られた単語列に対して，各単語の先頭と末尾の文字は残し，それ以外の文字の順序をランダムに並び替えるプログラムを作成せよ．ただし，長さが４以下の単語は並び替えないこととする．適当な英語の文（例えば"I couldn't believe that I could actually understand what I was reading : the phenomenal power of the human mind ."）を与え，その実行結果を確認せよ．

In [0]:
import random

def rnd_sentence(sentence):
  list_words = sentence.split(" ")
  new_sentence = list()
  for word in list_words:
    if len(word) <= 4:
      new_sentence.append(word)
      continue
    head = word[0]
    tail = word[-1]
    center = word[1:-1]
    #random.shuffleはimmutableには使用できない
    rnd_sen = "".join(random.sample(center, len(center)))
    new_sentence.append(head + rnd_sen + tail)
  return " ".join(new_sentence)


sentence = "I couldn't believe that I could actually understand what I was reading : the phenomenal power of the human mind ."
rnd_sentence(sentence)

"I cldn'uot belviee that I cluod atlucaly ustenrndad what I was raiedng : the ponhnaemel pewor of the hmuan mind ."

# 第2章　UNIXコマンドの基礎

## 始める前に
- man wc で色々確認できるらしい
- textのget

In [1]:
!wget http://www.cl.ecei.tohoku.ac.jp/nlp100/data/hightemp.txt

--2019-05-27 00:26:30--  http://www.cl.ecei.tohoku.ac.jp/nlp100/data/hightemp.txt
Resolving www.cl.ecei.tohoku.ac.jp (www.cl.ecei.tohoku.ac.jp)... 130.34.192.83
Connecting to www.cl.ecei.tohoku.ac.jp (www.cl.ecei.tohoku.ac.jp)|130.34.192.83|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 813 [text/plain]
Saving to: ‘hightemp.txt’

hightemp.txt        100%[===================>]     813  --.-KB/s    in 0s

2019-05-27 00:26:31 (113 MB/s) - ‘hightemp.txt’ saved [813/813]

In [0]:
!man wc

WC(1POSIX)                 POSIX Programmer's Manual                WC(1POSIX)

PPRROOLLOOGG
       This  manual  page is part of the POSIX Programmer's Manual.  The Linux
       implementation of this interface may differ (consult the  corresponding
       Linux  manual page for details of Linux behavior), or the interface may
       not be implemented on Linux.

NNAAMMEE
       wc — word, line, and byte or character count

SSYYNNOOPPSSIISS
       wc [[−c|−m]] [[−lw]] [[_f_i_l_e...]]

DDEESSCCRRIIPPTTIIOONN
       The _w_c utility shall read one or more  input  files  and,  by  default,
       write the number of <newline> characters, words, and bytes contained in
       each input file to the standard output.

       The utility also shall write a total count for all named files, if more
       than one input file is specified.

       The  _w_c utility shall consider a _w_o_r_d to be a non-zero-length string of
       characters delimited by white space.

OOPPTTIIOONNSS
       The _w_c  utility  shall  conform  to  the  Base  Definitions  volume  of
       POSIX.1‐2008, _S_e_c_t_i_o_n _1_2_._2, _U_t_i_l_i_t_y _S_y_n_t_a_x _G_u_i_d_e_l_i_n_e_s.

       The following options shall be supported:

       −−cc        Write  to  the  standard  output  the number of bytes in each
                 input file.

       −−ll        Write to the standard output the number of <newline>  charac‐
                 ters in each input file.

       −−mm        Write to the standard output the number of characters in each
                 input file.

       −−ww        Write to the standard output the  number  of  words  in  each
                 input file.

       When  any  option  is  specified,  _w_c shall report only the information
       requested by the specified options.

OOPPEERRAANNDDSS
       The following operand shall be supported:

       _f_i_l_e      A pathname of an input file. If no _f_i_l_e operands  are  speci‐
                 fied, the standard input shall be used.

SSTTDDIINN
       The standard input shall be used if no _f_i_l_e operands are specified, and
       shall be used if a _f_i_l_e operand is ''−−'' and  the  implementation  treats
       the ''−−'' as meaning standard input.  Otherwise, the standard input shall
       not be used.  See the INPUT FILES section.

IINNPPUUTT FFIILLEESS
       The input files may be of any type.

EENNVVIIRROONNMMEENNTT VVAARRIIAABBLLEESS
       The following environment variables shall affect the execution of _w_c:

       _L_A_N_G      Provide a default value for  the  internationalization  vari‐
                 ables  that are unset or null. (See the Base Definitions vol‐
                 ume of POSIX.1‐2008, _S_e_c_t_i_o_n _8_._2, _I_n_t_e_r_n_a_t_i_o_n_a_l_i_z_a_t_i_o_n  _V_a_r_i_‐
                 _a_b_l_e_s  for  the  precedence of internationalization variables
                 used to determine the values of locale categories.)

       _L_C___A_L_L    If set to a non-empty string value, override  the  values  of
                 all the other internationalization variables.

       _L_C___C_T_Y_P_E  Determine  the  locale for the interpretation of sequences of
                 bytes of text data as characters (for example, single-byte as
                 opposed  to  multi-byte  characters  in  arguments  and input
                 files) and which characters are defined as white-space  char‐
                 acters.

       _L_C___M_E_S_S_A_G_E_S
                 Determine the locale that should be used to affect the format
                 and contents of diagnostic messages written to standard error
                 and informative messages written to standard output.

       _N_L_S_P_A_T_H   Determine the location of message catalogs for the processing
                 of _L_C___M_E_S_S_A_G_E_S.

AASSYYNNCCHHRROONNOOUUSS EEVVEENNTTSS
       Default.

SSTTDDOOUUTT
       By default, the standard output shall contain an entry for  each  input
       file of the form:

           ""%%dd %%dd %%dd %%ss\\nn"",, <<_n_e_w_l_i_n_e_s>, <_w_o_r_d_s>, <_b_y_t_e_s>, <_f_i_l_e>

       If  the  −−mm option is specified, the number of characters shall replace
       the <_b_y_t_e_s> field in this format.

       If any options are specified and the −−ll option is  not  specified,  the
       number of <newline> characters shall not be written.

       If  any  options  are specified and the −−ww option is not specified, the
       number of words shall not be written.

       If any options are specified and neither −−cc nor −−mm  is  specified,  the
       number of bytes or characters shall not be written.

       If  no  input _f_i_l_e operands are specified, no name shall be written and
       no <blank> characters preceding the pathname shall be written.

       If more than one input _f_i_l_e operand is specified,  an  additional  line
       shall  be  written,  of the same format as the other lines, except that
       the word ttoottaall (in the POSIX locale) shall  be  written  instead  of  a
       pathname  and the total of each column shall be written as appropriate.
       Such an additional line, if any, is written at the end of the output.

SSTTDDEERRRR
       The standard error shall be used only for diagnostic messages.

OOUUTTPPUUTT FFIILLEESS
       None.

EEXXTTEENNDDEEDD DDEESSCCRRIIPPTTIIOONN
       None.

EEXXIITT SSTTAATTUUSS
       The following exit values shall be returned:

        0    Successful completion.

       >0    An error occurred.

CCOONNSSEEQQUUEENNCCEESS OOFF EERRRROORRSS
       Default.

       _T_h_e _f_o_l_l_o_w_i_n_g _s_e_c_t_i_o_n_s _a_r_e _i_n_f_o_r_m_a_t_i_v_e_.

AAPPPPLLIICCAATTIIOONN UUSSAAGGEE
       The −−mm option is not a switch, but an option at the same level  as  −−cc.
       Thus,  to produce the full default output with character counts instead
       of bytes, the command required is:

           wwcc −−mmllww

EEXXAAMMPPLLEESS
       None.

RRAATTIIOONNAALLEE
       The output file format pseudo-_p_r_i_n_t_f() string differs from the System V
       version of _w_c:

           ""%%77dd%%77dd%%77dd %%ss\\nn""

       which produces possibly ambiguous and unparsable results for very large
       files, as it assumes no number shall exceed six digits.

       Some historical implementations use only <space>, <tab>, and  <newline>
       as  word  separators.  The  equivalent  of the ISO C standard _i_s_s_p_a_c_e()
       function is more appropriate.

       The −−cc option stands for ``character'' count,  even  though  it  counts
       bytes.   This  stems  from the sometimes erroneous historical view that
       bytes and characters are the same size. Due to  international  require‐
       ments,  the  −−mm  option  (reminiscent  of  ``multi-byte'') was added to
       obtain actual character counts.

       Early proposals only specified the results when input files  were  text
       files.  The current specification more closely matches historical prac‐
       tice. (Bytes, words, and <newline> characters  are  counted  separately
       and the results are written when an end-of-file is detected.)

       Historical implementations of the _w_c utility only accepted one argument
       to specify the options −−cc, −−ll, and −−ww.  Some of them also had  multiple
       occurrences  of  an  option cause the corresponding count to be written
       multiple times and had the order of specification of the options affect
       the  order  of  the  fields  on  output, but did not document either of
       these. Because common usage either specifies no  options  or  only  one
       option,  and  because none of this was documented, the changes required
       by this volume of POSIX.1‐2008 should not break many historical  appli‐
       cations (and do not break any historical conforming applications).

FFUUTTUURREE DDIIRREECCTTIIOONNSS
       None.

SSEEEE AALLSSOO
       _c_k_s_u_m

       The  Base  Definitions  volume  of POSIX.1‐2008, _C_h_a_p_t_e_r _8, _E_n_v_i_r_o_n_m_e_n_t
       _V_a_r_i_a_b_l_e_s, _S_e_c_t_i_o_n _1_2_._2, _U_t_i_l_i_t_y _S_y_n_t_a_x _G_u_i_d_e_l_i_n_e_s

CCOOPPYYRRIIGGHHTT
       Portions of this text are reprinted and reproduced in  electronic  form
       from IEEE Std 1003.1, 2013 Edition, Standard for Information Technology
       -- Portable Operating System Interface (POSIX),  The  Open  Group  Base
       Specifications Issue 7, Copyright (C) 2013 by the Institute of Electri‐
       cal and Electronics Engineers,  Inc  and  The  Open  Group.   (This  is
       POSIX.1-2008  with  the  2013  Technical Corrigendum 1 applied.) In the
       event of any discrepancy between this version and the original IEEE and
       The  Open Group Standard, the original IEEE and The Open Group Standard
       is the referee document. The original Standard can be  obtained  online
       at http://www.unix.org/online.html .

       Any  typographical  or  formatting  errors that appear in this page are
       most likely to have been introduced during the conversion of the source
       files  to  man page format. To report such errors, see https://www.ker‐
       nel.org/doc/man-pages/reporting_bugs.html .

IEEE/The Open Group                  2013                           WC(1POSIX)

## 10.行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ
- -c, --bytes, --chars	バイト数のみを集計し表示する
- -w, --words	単語数のみ集計し表示する
- -l, --lines	行数のみ集計し表示する
file	集計するファイルを指定する

In [0]:
!wc --line hightemp.txt

24 hightemp.txt

- ファイルオブジェクトのread()メソッドを使うと、開いたファイル全体を文字列として取得できる。

In [0]:
#これは微妙だな
with open("hightemp.txt", "r") as f:
  string = f.read()
list_lines = string.split("\n")
print(len(list_lines)-1)#最後に空行が入るので１引く

['高知県\t江川崎\t41\t2013-08-12', '埼玉県\t熊谷\t40.9\t2007-08-16', '岐阜県\t多治見\t40.9\t2007-08-16', '山形県\t山形\t40.8\t1933-07-25', '山梨県\t甲府\t40.7\t2013-08-10', '和歌山県\tかつらぎ\t40.6\t1994-08-08', '静岡県\t天竜\t40.6\t1994-08-04', '山梨県\t勝沼\t40.5\t2013-08-10', '埼玉県\t越谷\t40.4\t2007-08-16', '群馬県\t館林\t40.3\t2007-08-16', '群馬県\t上里見\t40.3\t1998-07-04', '愛知県\t愛西\t40.3\t1994-08-05', '千葉県\t牛久\t40.2\t2004-07-20', '静岡県\t佐久間\t40.2\t2001-07-24', '愛媛県\t宇和島\t40.2\t1927-07-22', '山形県\t酒田\t40.1\t1978-08-03', '岐阜県\t美濃\t40\t2007-08-16', '群馬県\t前橋\t40\t2001-07-24', '千葉県\t茂原\t39.9\t2013-08-11', '埼玉県\t鳩山\t39.9\t1997-07-05', '大阪府\t豊中\t39.9\t1994-08-08', '山梨県\t大月\t39.9\t1990-07-19', '山形県\t鶴岡\t39.9\t1978-08-03', '愛知県\t名古屋\t39.9\t1942-08-02', '']
24

- ファイルオブジェクトのreadlines()メソッドを使うと、開いたファイル全体を行ごとに分割したリストとして取得できる。改行コード\nを含んだ文字列が要素となる。

In [0]:
with open("hightemp.txt", "r") as f:
  list_lines = f.readlines()
print(list_lines)
print(len(list_lines))

['高知県\t江川崎\t41\t2013-08-12\n', '埼玉県\t熊谷\t40.9\t2007-08-16\n', '岐阜県\t多治見\t40.9\t2007-08-16\n', '山形県\t山形\t40.8\t1933-07-25\n', '山梨県\t甲府\t40.7\t2013-08-10\n', '和歌山県\tかつらぎ\t40.6\t1994-08-08\n', '静岡県\t天竜\t40.6\t1994-08-04\n', '山梨県\t勝沼\t40.5\t2013-08-10\n', '埼玉県\t越谷\t40.4\t2007-08-16\n', '群馬県\t館林\t40.3\t2007-08-16\n', '群馬県\t上里見\t40.3\t1998-07-04\n', '愛知県\t愛西\t40.3\t1994-08-05\n', '千葉県\t牛久\t40.2\t2004-07-20\n', '静岡県\t佐久間\t40.2\t2001-07-24\n', '愛媛県\t宇和島\t40.2\t1927-07-22\n', '山形県\t酒田\t40.1\t1978-08-03\n', '岐阜県\t美濃\t40\t2007-08-16\n', '群馬県\t前橋\t40\t2001-07-24\n', '千葉県\t茂原\t39.9\t2013-08-11\n', '埼玉県\t鳩山\t39.9\t1997-07-05\n', '大阪府\t豊中\t39.9\t1994-08-08\n', '山梨県\t大月\t39.9\t1990-07-19\n', '山形県\t鶴岡\t39.9\t1978-08-03\n', '愛知県\t名古屋\t39.9\t1942-08-02\n']
24

- 解答例　ファイルオブジェクトをそのままfor文で回すとファイルの先頭から一行ずつ文字列として取得できることを利用している

In [0]:
fname = 'hightemp.txt'
count = 0
with open(fname) as data_file:
    for line in data_file:
        count += 1
print(count)

24

## 11.タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [0]:
import re
with open("hightemp.txt", "r") as f:
  list_lines_after = list()
  for line in f:
    line_after = re.sub(r"[\t]", " ", line)
    line_after = re.sub(r"[\n]", "", line_after)
    list_lines_after.append(line_after)
print(list_lines_after)

['高知県 江川崎 41 2013-08-12', '埼玉県 熊谷 40.9 2007-08-16', '岐阜県 多治見 40.9 2007-08-16', '山形県 山形 40.8 1933-07-25', '山梨県 甲府 40.7 2013-08-10', '和歌山県 かつらぎ 40.6 1994-08-08', '静岡県 天竜 40.6 1994-08-04', '山梨県 勝沼 40.5 2013-08-10', '埼玉県 越谷 40.4 2007-08-16', '群馬県 館林 40.3 2007-08-16', '群馬県 上里見 40.3 1998-07-04', '愛知県 愛西 40.3 1994-08-05', '千葉県 牛久 40.2 2004-07-20', '静岡県 佐久間 40.2 2001-07-24', '愛媛県 宇和島 40.2 1927-07-22', '山形県 酒田 40.1 1978-08-03', '岐阜県 美濃 40 2007-08-16', '群馬県 前橋 40 2001-07-24', '千葉県 茂原 39.9 2013-08-11', '埼玉県 鳩山 39.9 1997-07-05', '大阪府 豊中 39.9 1994-08-08', '山梨県 大月 39.9 1990-07-19', '山形県 鶴岡 39.9 1978-08-03', '愛知県 名古屋 39.9 1942-08-02']

In [0]:
fname = 'hightemp.txt'
with open(fname) as data_file:
    for line in data_file:
        print(line.replace('\t', ' '), end='') #二重に改行しないようにしている

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

In [0]:
# sedのsコマンド： s/検索パターン/置換文字列/g（すべて置換）
!sed 's/\t/ /g' hightemp.txt

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

In [0]:
!cat hightemp.txt | tr "\t" " "  #trは左右を交換する

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

In [0]:
!expand --tabs=1 hightemp.txt #、タブを空白に変換する。既定ではタブを8文字分に。　--tabs=1で1文字分にしている

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

## 12.1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [0]:
import re
import numpy as np

list_lines = list()
with open("hightemp.txt", "r") as f:
  for line in f:
    line = re.sub("\n", " ", line)
    list_line_split = re.split("\t", line)
    list_lines.append(list_line_split)
  
list_lines = np.array(list_lines)
col1 = list_lines[:, 0]
col2 = list_lines[:, 1]
with open("col1.txt", "w") as f:
  col1 = "\n".join(col1)
  f.write(col1 + "\n")
with open("col2.txt", "w") as f:
  col2 = "\n".join(col2)
  f.write(col2 + "\n")

In [0]:
!cat col1.txt

高知県
埼玉県
岐阜県
山形県
山梨県
和歌山県
静岡県
山梨県
埼玉県
群馬県
群馬県
愛知県
千葉県
静岡県
愛媛県
山形県
岐阜県
群馬県
千葉県
埼玉県
大阪府
山梨県
山形県
愛知県

In [0]:
!cat col1_test.txt

高知県
埼玉県
岐阜県
山形県
山梨県
和歌山県
静岡県
山梨県
埼玉県
群馬県
群馬県
愛知県
千葉県
静岡県
愛媛県
山形県
岐阜県
群馬県
千葉県
埼玉県
大阪府
山梨県
山形県
愛知県

- No newline at end of file. コードの末尾に改行がない時に現れる

In [0]:
!cut -f 1 hightemp.txt > col1_test.txt
!diff -s col1.txt col1_test.txt #-s同じ時も報告する

Files col1.txt and col1_test.txt are identical

In [0]:
!cut -f 2 hightemp.txt > col2_test.txt
!diff -s col2.txt col2_test.txt

Files col2.txt and col2_test.txt are identical

## 13.col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [0]:
import re
with open("col1.txt", "r") as f:
  list_col1_lines = f.readlines()
with open("col2.txt", "r") as f:
  list_col2_lines = f.readlines()

list_cols = list()
for word_col1, word_col2 in zip(list_col1_lines, list_col2_lines):
  word_col1 = re.sub("\n", "", word_col1)
  line_new = word_col1 + "\t" + word_col2
  list_cols.append(line_new)
result = "".join(list_cols)
with open("col1+col2.txt", "w") as f:
  f.write(result)

In [0]:
!paste col1.txt col2.txt > col1+col2_test.txt
!diff -s col1+col2.txt col1+col2_test.txt

Files col1+col2.txt and col1+col2_test.txt are identical

## 14.先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [0]:
#コマンドライン引数で実行するなら、こんな感じかな。
# import argparse

# parser = argparse.ArgumentParser(description="入力のうち先頭のN行目まで表示")

# parser.add_argument('N', type=int, help='自然数N')
# parser.add_argument('-t', '--txt', type=str, default="col1.txt", help='テキストファイル')

# args = parser.parse_args()  
# N = args.N
# txt_name = args.txt

In [0]:
# txt_name = input("txt_name:")
N = int(input("自然数N:"))
txt_name = "hightemp.txt"
# N = 10
new_sen = str()
with open(txt_name, "r") as f:
  count = 0
  for line in f:
    count += 1
    new_sen += line
    if count == N:
      break
print(new_sen)

自然数N:2
高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16

In [0]:
# !read -p "input? > " num 何故かダメ.numが消えちゃうんだと思う
num = int(input("num:"))

num:2

In [0]:
!echo $num

2

In [0]:
!head --lines=$num hightemp.txt

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16

## 15.末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ

In [0]:
# txt_name = input("txt_name:")
# N = int(input("自然数N:"))
txt_name = "hightemp.txt"
N = 5
new_sen = str()
with open(txt_name, "r") as f:
  list_lines = f.readlines()
  print(list_lines)
str_lines_tail = str()
for i in range(1, N+1):
  line = list_lines[-i]
  str_lines_tail = line + str_lines_tail

str_lines_tail = str_lines_tail.rstrip()
print(str_lines_tail.split("\n"))
print(str_lines_tail)

['高知県\t江川崎\t41\t2013-08-12\n', '埼玉県\t熊谷\t40.9\t2007-08-16\n', '岐阜県\t多治見\t40.9\t2007-08-16\n', '山形県\t山形\t40.8\t1933-07-25\n', '山梨県\t甲府\t40.7\t2013-08-10\n', '和歌山県\tかつらぎ\t40.6\t1994-08-08\n', '静岡県\t天竜\t40.6\t1994-08-04\n', '山梨県\t勝沼\t40.5\t2013-08-10\n', '埼玉県\t越谷\t40.4\t2007-08-16\n', '群馬県\t館林\t40.3\t2007-08-16\n', '群馬県\t上里見\t40.3\t1998-07-04\n', '愛知県\t愛西\t40.3\t1994-08-05\n', '千葉県\t牛久\t40.2\t2004-07-20\n', '静岡県\t佐久間\t40.2\t2001-07-24\n', '愛媛県\t宇和島\t40.2\t1927-07-22\n', '山形県\t酒田\t40.1\t1978-08-03\n', '岐阜県\t美濃\t40\t2007-08-16\n', '群馬県\t前橋\t40\t2001-07-24\n', '千葉県\t茂原\t39.9\t2013-08-11\n', '埼玉県\t鳩山\t39.9\t1997-07-05\n', '大阪府\t豊中\t39.9\t1994-08-08\n', '山梨県\t大月\t39.9\t1990-07-19\n', '山形県\t鶴岡\t39.9\t1978-08-03\n', '愛知県\t名古屋\t39.9\t1942-08-02\n']
['埼玉県\t鳩山\t39.9\t1997-07-05', '大阪府\t豊中\t39.9\t1994-08-08', '山梨県\t大月\t39.9\t1990-07-19', '山形県\t鶴岡\t39.9\t1978-08-03', '愛知県\t名古屋\t39.9\t1942-08-02']
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [0]:
filename = "appsf.py"
name = filename.rstrip(".py")
print(name)
filename = "app.py"
name = filename.rstrip(".py")
print(name)

appsf
a

In [0]:
num = 5
!tail --lines=$num hightemp.txt

埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

## 16.ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [0]:
N = 5
with open("hightemp.txt", "r") as f:
  list_lines = f.readlines()

repeats = int(len(list_lines)/N)
for i in range(repeats + 1):
  list_lines_split = list_lines[:N]
  with open("split_" + str(i) + ".txt", "w") as f:
    f.write("".join(list_lines_split))
  del list_lines[:N]

In [18]:
! cat split_0.txt

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10

In [19]:
! cat split_1.txt

和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16

In [20]:
! cat split_2.txt

群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22

In [21]:
! cat split_3.txt

山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05

In [23]:
!cat split_4.txt

大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [0]:
!split -l 5 hightemp.txt split_test_

In [28]:
!cat split_test_aa

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10

In [29]:
!cat xaa

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10

## 17.１列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはsort, uniqコマンドを用いよ．

In [39]:
import numpy as np

with open("hightemp.txt", "r") as f:
  list_lines = list()
  for line in f:
    line = line.rstrip("\n")
    list_line = line.split("\t")
    list_lines.append(list_line)
list_lines = np.array(list_lines)
col1 = list_lines[:, 0]
type_col1 = list(set(col1))
print(type_col1)
with open("type_col1.txt", "w") as f:
  f.write("\n".join(type_col1))

['群馬県', '埼玉県', '愛媛県', '静岡県', '和歌山県', '千葉県', '大阪府', '岐阜県', '高知県', '山梨県', '愛知県', '山形県']

In [40]:
!cat type_col1.txt

群馬県
埼玉県
愛媛県
静岡県
和歌山県
千葉県
大阪府
岐阜県
高知県
山梨県
愛知県
山形県

In [0]:
!cut -f 1 hightemp.txt | sort | uniq > type_col1_test.txt

In [0]:
!cat type_col1.txt | sort > type_col1_sorted.txt

In [48]:
!diff -s type_col1_sorted.txt type_col1_test.txt

Files type_col1_sorted.txt and type_col1_test.txt are identical

## 18.各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [73]:
import numpy as np

with open("hightemp.txt", "r") as f:
  list_lines = list()
  for line in f:
    line = line.rstrip("\n")
    list_line = line.split("\t")
    list_lines.append(list_line)
list_lines = np.array(list_lines)
list_args_sorted = np.argsort(list_lines[:, 2])
list_lines_sorted = list_lines[list_args_sorted[::-1], :]
# list_lines_sorted = list_lines_sorted.flatten()
sen = "".join(["\t".join(line) + "\n" for line in list_lines_sorted])
print(sen.rstrip("\n"))

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	上里見	40.3	1998-07-04
群馬県	館林	40.3	2007-08-16
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
山形県	鶴岡	39.9	1978-08-03
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
愛知県	名古屋	39.9	1942-08-02

- 解答が美しかった

In [71]:
fname = 'hightemp.txt'
lines = open(fname).readlines()
lines.sort(key=lambda line: float(line.split('\t')[2]), reverse=True)
for line in lines:
    print(line, end='')

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [77]:
!sort -n -r -k 3 hightemp.txt #-r reverse -n numeric -k key

高知県	江川崎	41	2013-08-12
岐阜県	多治見	40.9	2007-08-16
埼玉県	熊谷	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
静岡県	天竜	40.6	1994-08-04
和歌山県	かつらぎ	40.6	1994-08-08
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
千葉県	牛久	40.2	2004-07-20
山形県	酒田	40.1	1978-08-03
群馬県	前橋	40	2001-07-24
岐阜県	美濃	40	2007-08-16
愛知県	名古屋	39.9	1942-08-02
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
大阪府	豊中	39.9	1994-08-08
埼玉県	鳩山	39.9	1997-07-05
千葉県	茂原	39.9	2013-08-11

## 19.各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [90]:
with open("hightemp.txt", "r") as f:
  list_lines = f.readlines()
  
from collections import defaultdict
dic_word = defaultdict(int)
for line in list_lines:
  word0 = line.split("\t")[0]
  dic_word[word0] += 1
dic_sorted = sorted(dic_word.items(), key=lambda x: x[1], reverse=True)
print(dic_sorted)

[('埼玉県', 3), ('山形県', 3), ('山梨県', 3), ('群馬県', 3), ('岐阜県', 2), ('静岡県', 2), ('愛知県', 2), ('千葉県', 2), ('高知県', 1), ('和歌山県', 1), ('愛媛県', 1), ('大阪府', 1)]

In [96]:
!cat hightemp.txt | cut -f 1 | sort | uniq -c | sort -r

      3 群馬県
      3 山梨県
      3 山形県
      3 埼玉県
      2 静岡県
      2 愛知県
      2 岐阜県
      2 千葉県
      1 高知県
      1 愛媛県
      1 大阪府
      1 和歌山県

- 解答例

In [99]:
# coding: utf-8
from itertools import groupby
fname = 'hightemp.txt'

# 都道府県名の読み込み
lines = open(fname).readlines()
kens = [line.split('\t')[0] for line in lines]

# 都道府県で集計し、(都道府県, 出現頻度)のリスト作成
kens.sort()    # goupbyはソート済みが前提
result = [(ken, len(list(group))) for ken, group in groupby(kens)]
test = [(ken, list(group)) for ken, group in groupby(kens)]
print(test)
# 出現頻度でソート
result.sort(key=lambda ken: ken[1], reverse=True)

# 結果出力
for ken in result:
    print('{ken}({count})'.format(ken=ken[0], count=ken[1]))

[('千葉県', ['千葉県', '千葉県']), ('和歌山県', ['和歌山県']), ('埼玉県', ['埼玉県', '埼玉県', '埼玉県']), ('大阪府', ['大阪府']), ('山形県', ['山形県', '山形県', '山形県']), ('山梨県', ['山梨県', '山梨県', '山梨県']), ('岐阜県', ['岐阜県', '岐阜県']), ('愛媛県', ['愛媛県']), ('愛知県', ['愛知県', '愛知県']), ('群馬県', ['群馬県', '群馬県', '群馬県']), ('静岡県', ['静岡県', '静岡県']), ('高知県', ['高知県'])]
埼玉県(3)
山形県(3)
山梨県(3)
群馬県(3)
千葉県(2)
岐阜県(2)
愛知県(2)
静岡県(2)
和歌山県(1)
大阪府(1)
愛媛県(1)
高知県(1)

# 第三章　正規表現